/CalculadoraTest01.class
/CalculadoraTest02.class
/CalculadoraTest03.class
/CalculadoraTest04.class
/CalculadoraTest05.class
/EstudanteTest01.class
/EstudanteTest02.class
/FuncionarioTest01.class
/PessoaTest01.class
